#container {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: black;
}

.row {
    display: flex;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    aspect-ratio: 1/1;
}